body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #0cd6e8;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(40, 9, 242);
    box-shadow: 0 0 10px rgba(236, 5, 5, 1);
    box-sizing: border-box; 
}

h1 {
    text-align: center;
    color: #333;
    margin: 0 0 20px 0;
}

p {
    font-size: 3em;
    line-height: 2;
    color: #c8f417;
    margin: 0 0 20px 0;
    box-sizing: border-box; 
}

h2 {
    margin: 0 0 10px 0;
    color: #333;
}

ul.hobbies {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

ul.hobbies li {
    font-size: 3em;
    line-height: 2;
    color: #666;
    margin: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-sizing: border-box; 
}

input, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 2em;
}

.image {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box; 
}
